<%= render 'shared/navbar' %>
<div class="container">
  <div class="answer-main-container">
    <div class="answer-left-container">
      <i class="far fa-smile"></i>
      <h4><%= "Demande de #{@reservation.owner.email}" %></h4>
      <h4><%= "Du #{@reservation.start_date} au #{@reservation.end_date}"%></h4>
      <h5><%= @reservation.title %></h5>
      <p style="margin-bottom: 50px";><%= @reservation.info %></p>
      <%= simple_form_for([@reservation, @answer]) do |f| %>
        <%= f.input :content, autofocus: true %>
        <%= f.button :submit %>
      <% end %>
    </div>
    <div class="answer-right-container">
      <div class="row">
        <div class="col-xs-12">
          <h5><%= pluralize(@nbr_answer, 'réponse pour le moment', 'réponses') %></h5>
          <% @answers.each do |answer| %>
            <div class="answer-main-card">
              <div class="answer-header-card">
                <h5><%= answer.owner.email %></h5>
                <i class="far fa-smile"></i>
              </div>
              <p><%= answer.content %></p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
