<%= render 'shared/navbar' %>
<div class="container">
  <div class="answer-main-container">
    <div class="answer-left-container">

      <div class="answer-left-header-container">
        <div class="answer-left-header-title-container">
          <i class="far fa-smile"></i>
          <h4><%= "#{@reservation.owner.email}" %></h4>
        </div>

        <% if @reservation.owner == current_user %>
          <div class="answer-left-header-gly-container">
            <%= link_to edit_reservation_path(@reservation) do %>
              <i class="far fa-edit"></i>
            <% end %>
            <%= link_to reservation_path(@reservation), method: :delete, data: {confirm: "Certain(e) ?"} do %>
              <i class="far fa-trash-alt"></i>
            <% end %>
          </div>
        <% end %>

      </div>

      <h4><%= "Du #{@reservation.start_date.strftime('%d/%m/%y')} au #{@reservation.end_date.strftime('%d/%m/%y')}"%></h4>
      <h5><%= @reservation.title %></h5>
      <p style="margin-bottom: 50px";><%= @reservation.info %></p>
      <%= simple_form_for([@reservation, @answer]) do |f| %>
        <%= f.input :content, label: 'Répondre', autofocus: true %>
        <%= f.button :submit %>
      <% end %>
    </div>
    <div class="answer-right-container">
      <div class="row">
        <div class="col-xs-12">
          <h5><%= pluralize(@nbr_answer, 'réponse pour le moment', 'réponses') %></h5>
          <% @answers.each do |answer| %>
            <div class="answer-main-card">
              <div class="answer-header-card">
                <i class="far fa-smile"></i>
                <h5><%= answer.owner.email %></h5>
              </div>
              <p><%= answer.content %></p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
