<%= render 'shared/navbar' %>
<div class="container">
  <h2>Modifier une réservation</h2>
  <div class="row">
    <div class="col-xs-offset-2 col-xs-8">
      <%= simple_form_for(@reservation) do |f| %>
        <%= f.error_notification %>
        <%= f.input :info, autofocus: true %>
        <div class="form-date-container">
          <input type="text" class='datepicker' name=reservation[start_date] value= "<%= @reservation.start_date %>">
          <input type="text" class='datepicker' name=reservation[end_date] value= "<%= @reservation.end_date %>">
        </div>
        <%= f.button :submit, 'Ok', method: :patch %>
      <% end %>
    </div>
  </div>
</div>
