<%= render 'shared/navbar' %>
<div class="container">
  <h2>
    Les Chênes | Réservations | <%= link_to new_reservation_path do %>
      <i class="fas fa-plus-circle" style="font-size: 0.7em";></i>
    <% end %>
  </h2>
  <% if @reservations.count == 0 %>
    <div class="aucune-reservation-container">
      <p>Aucune réservation pour le moment</p>
    </div>
  <% else %>
    <div class="row">
      <div class="col-sm-12 col-lg-offset-1 col-lg-9">
        <% @reservations.each do |reservation| %>
          <div class="reservation-main-card">
            <%= link_to new_reservation_answer_path(reservation) do %>
              <div class="reservation-main-card-header">
                <% if reservation.owner.photo.present? %>
                  <%= cl_image_tag(reservation.owner.photo, class:'my-avatar-small') %>
                <% else %>
                  <i class="far fa-smile" style="font-size: 1.2em";></i>
                <% end %>
                <% if reservation.owner.name.present? %>
                  <h5><%= "#{reservation.owner.name.capitalize} | Du #{reservation.start_date.strftime("%d/%m/%y")} au #{reservation.end_date.strftime("%d/%m/%y")}" %></h5>
                <% else %>
                  <h5><%= "#{reservation.owner.email} | Du #{reservation.start_date.strftime("%d/%m/%y")} au #{reservation.end_date.strftime("%d/%m/%y")}" %></h5>
                <% end %>
              </div>
              <p><%= truncate(reservation.info, length: 300) %></p>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
