<%= render 'shared/navbar' %>
<div class="container">
  <div class="answer-main-container">
    <div class="answer-left-container">

      <div class="answer-left-header-container">
        <div class="answer-left-header-title-container">
          <% if @reservation.owner.photo.present? %>
            <%= cl_image_tag(@reservation.owner.photo, class:'my-avatar') %>
          <% else %>
            <i class="far fa-smile" style="font-size: 1.2em";></i>
          <% end %>
          <% if @reservation.owner.name %>
            <h4><%= "#{@reservation.owner.name.capitalize}" %></h4>
          <% else %>
            <h4><%= "#{@reservation.owner.email}" %></h4>
          <% end %>
        </div>
        <% if @reservation.owner == current_user %>
          <div class="answer-left-header-gly-container">
            <%= link_to edit_reservation_path(@reservation) do %>
              <i class="far fa-edit"></i>
            <% end %>
            <%= link_to reservation_path(@reservation), method: :delete, data: {confirm: "Certain(e) de vouloir supprimer ce sujet ?"} do %>
              <i class="far fa-trash-alt"></i>
            <% end %>
          </div>
        <% end %>
      </div>
      <h5><%= "Du #{@reservation.start_date.strftime('%d/%m/%y')} au #{@reservation.end_date.strftime('%d/%m/%y')}"%></h5>
      <p style="margin-bottom: 50px";><%= @reservation.info %></p>
      <%= simple_form_for([@reservation, @answer], remote: true) do |form| %>
        <%= form.input :content, id:'answer_content', label: 'Répondre', autofocus: true %>
        <%= form.button :submit, 'Ok' %>
      <% end %>
    </div>
    <div class="answer-right-container">
      <h5 id="answer_count"><%= pluralize(@answers.count, 'réponse pour le moment', 'réponses') %></h5>
        <div id="answers">
          <div class="row">
            <% @answers.each do |answer| %>
              <div class="col-xs-12">
                <%= render 'answers/answers-cards', answer: answer %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
