<%= render 'shared/navbar' %>
<div class="container">
  <div class="post-new-main-container">
    <div class="post-new-left-container">
      <div class="post-new-header-container">
        <div class="post-new-left-header-container">
          <% if @topic.owner.photo.present? %>
            <%= cl_image_tag(@topic.owner.photo, class:'my-avatar-small') %>
          <% else %>
            <i class="far fa-smile" style="font-size: 1.2em";></i>
          <% end %>
          <h4><%= @topic.title %></h4>
        </div>
        <div class="post-new-right-header-container">
          <% if @topic.owner == current_user %>
            <%= link_to edit_topic_path(@topic) do %>
              <i class="far fa-edit"></i>
            <% end %>
            <%= link_to topic_path(@topic), method: :delete, data: {confirm: 'Certain(e) de vouloir supprimer cette discussion ?'} do %>
              <i class="far fa-trash-alt"></i>
            <% end %>
          <% end %>
        </div>
      </div>
      <p><%= @topic.info %></p>
      <p><%= pluralize(@posts.count,'réponse pour le moment','réponses') %></p>
      <% if @posts.count == 0 %>
        <div class="row">
          <div class="col-xs-12">
            <div class="post-new-main-card">
              <h5>Aucun réponse pour le moment</h5>
            </div>
          </div>
        </div>
      <% else %>
        <div class="row">
          <% @posts.each do |post| %>
            <div class="col-xs-12">
              <div class="post-new-main-card">
                <% if post.topic.owner.photo.present? %>
                  <%= cl_image_tag(post.topic.owner.photo, class:'my-avatar-small') %>
                <% else %>
                  <i class="far fa-smile" style="font-size: 1.2em";></i>
                <% end %>
                <p><%= truncate(post.content, length: 200) %></p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="post-new-right-container">
      <%= simple_form_for([@topic, @post]) do |form| %>
        <%= form.error_notification %>
        <%= form.input :content, label: 'Ajouter un commentaire', autofocus: true, placeholder: 'Commentaire' %>
        <%= form.button :submit, 'Ok' %>
      <% end %>
    </div>
  </div>
</div>
