<%= render 'shared/navbar' %>
<div class="container">
  <div class="post-new-main-container">
    <div class="post-new-left-container">
      <div class="post-new-header-container">
        <div class="post-new-left-header-container">
          <% if @topic.owner.photo.present? %>
            <%= cl_image_tag(@topic.owner.photo, class:'my-avatar-small') %>
          <% else %>
            <i class="far fa-smile" style="font-size: 1.2em";></i>
          <% end %>
          <h4><%= @topic.title %></h4>
        </div>
        <div class="post-new-right-header-container">
          <% if @topic.owner == current_user %>
            <%= link_to edit_topic_path(@topic) do %>
              <i class="far fa-edit"></i>
            <% end %>
            <%= link_to topic_path(@topic), method: :delete, data: {confirm: 'Certain(e) de vouloir supprimer cette discussion ?'} do %>
              <i class="far fa-trash-alt"></i>
            <% end %>
          <% end %>
        </div>
      </div>
      <p><%= @topic.info %></p>
      <div class="row">
        <div class="col-xs-12">
          <% if @posts.count == 0 %>
            <div class="post-new-main-card">
              <h5>Aucun réponse pour le moment</h5>
            </div>
          <% else %>
            <% @posts.each do |post| %>
              <div class="post-new-main-card">
                <h5><%= post.content %></h5>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="post-new-right-container">
      <%= simple_form_for([@topic, @post]) do |f| %>
        <%= f.input :content, label: 'Ajouter un commentaire', autofocus: true, placeholder: 'Commentaire' %>
        <%= f.button :submit, 'Ok' %>
      <% end %>
    </div>
  </div>
</div>
